body {
	background-color: #2E5071;
}

.navbar-custom.top-nav-collapse {
	background: #2E5071;
}

@media all and (min-width: 768px) {
	.navbar-custom.top-nav-collapse {
		background: #2E5071;
	}
}

h1 .brand-heading, h2, .intro-body {
	color: #84E125;
}

@media all and (min-width: 768px) {
	.brand-heading, .intro-body {
		color: #84E125;
	}
}

.btn-default {
	background: transparent;
	border-color: white;
	color: white;
}